
# Review python iteration, control flows, and functions



---




### Learning Objectives
 
- Explore `Python` control flow and conditional programming.  
- Implement `For` and `While` loops to iterate through data structures.
- Apply `if, else` conditional statements.
- Create functions to perform repetitive actions.
- Demonstrate error-handling using `try, except` statements.
- Combine control flow and conditional statements to solve the classic "FizzBuzz" code challenge.
- Use `Python` control flow and functions to help us parse, clean, edit and analyze the Coffee Preferences dataset.

---
### Lesson Guide

- [If Else Statement](#if_else_statements)
- [Iterating With For Loops](#for_loops)
- [FizzBuzz](#fizz_buzz)
- [Functions](#functions)
- [While Loops](#while_loops)
- [Practice control flow on Coffee Preference dataset](#coffee_preference)

In [1]:
import numpy as np

<a id='if_else_statements'></a>

# If, Else Statements

>Check: what is the correct python syntax for if-else statements?

---

### 1. Write an if-else statement to check whether the suitcase is over 50lb.

Print a message indicating whether or not the suitcase is over 50lbs.

In [3]:
weight = float(input("How many pounds does your suitcase weigh? "))
print weight

How many pounds does your suitcase weigh? 10
10.0

In [7]:
# A:
if weight > 5:
    print "to heavy!"
else:
    print "lets run!"

to heavy!

>Check: what is the correct python syntax for if-elif-else statements?

>Check: what happens if I don't include `else`?

---

### 2. Write an if-else statement for multiple conditions.

Print out these recommendations based on the weather conditions:

1. The temperature is higher than 60 degrees and it is raining: Bring an umbrella.
2. The temperature is lower than or equal to 60 degrees and it is raining: Bring an umbrella and a jacket.
3. The temperature is higher than 60 degrees and the sun is shining: Wear a T-shirt.
4. The temperature is lower than or equal to 60 degrees and the sun is shining: Bring a jacket.

In [8]:
temperature = float(input('What is the temperature? '))
weather = raw_input('What is the weather? (rain or shine) ')

What is the temperature? 100
What is the weather? (rain or shine) shine

In [9]:
# A:
if temperature > 60 and weather == 'rain':
    print "Bring an umbrella"
elif temperature <= 60 and weather == 'rain':
    print "Bring an umbrella and a jacket"
elif temperature > 60 and weather == 'shine':
    print "Wear a T-shirt"
else:
    print "Bring a jaket"

Wear a T-shirt

---
<a id='for_loops'></a>
# For Loops #

---
>Check: what is the python syntax for a for loop?

### 3. Write a `for`-loop that iterates from the number 1 to the number 15.

On each iteration, print out the number.

In [14]:
# A:
for i in range(1,16):
    print i

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

---

### 4. Iterate from 1 to 15, printing whether the number is odd or even.

Hint: The modulus operator, `%`, can be used to take the remainder. For example:

```python
9 % 5 == 4
```

Or in other words, the remainder of dividing 9 by 5 is 4.

In [21]:
# A:
for i in range(1, 16):
    if i % 2 == 0:
        print "number " + str(i) + " is even"
    else:
        print "number " + str(i) + " is odd"

number 1 is odd
number 2 is even
number 3 is odd
number 4 is even
number 5 is odd
number 6 is even
number 7 is odd
number 8 is even
number 9 is odd
number 10 is even
number 11 is odd
number 12 is even
number 13 is odd
number 14 is even
number 15 is odd

---
<a id='fizz_buzz'></a>
### 5. Iterate from 1 to 30 with the following instructions:

1. If a number is divisible by 3, print 'fizz'. 
2. If a number is divisible by 5, print 'buzz'. 
3. If a number is both divisible by 3 and 5 print 'fizzbuzz'.
4. Otherwise, print just the number.

In [31]:
# A:

for i in range(1, 31):
    if i % 3 == 0 and i % 5 == 0:
        print 'fizzbuzz'
    elif i % 3 == 0:
        print 'fizz'
    elif i % 5 == 0:
        print 'buzz'
    else:
        print i

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

---

### 6. Iterate through the following list of animals, and print each one in all caps.

In [15]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [41]:
# A:
for i in animals:
    print i.upper()

DUCK
RAT
BOAR
SLUG
MAMMOTH
GAZELLE

---

### 7. Iterate through the animals list. Capitalize the first letter and append the modified animals to a new list.

In [44]:
# A:
new_list = []
for i in animals:
    j = i.title()
    new_list.append(j)
    
print new_list

['Duck', 'Rat', 'Boar', 'Slug', 'Mammoth', 'Gazelle']

---

### 8. Iterate through the animals. Print out the animal name and the number of vowels in the name.
Hint: You may need to create a variable of vowels for comparison.

In [16]:
# A:

vowels = "aeiouAEIOU"
for i in animals:
    num_vowels = 0
    for j in i:
        if j in vowels:
            num_vowels += 1
    print i, num_vowels

duck 1
rat 1
boar 2
slug 1
mammoth 2
gazelle 3

---
<a id='functions'></a>
# Functions
---

> Check: what is the python syntax for functions?

### 9. Write a function that takes word as an argument and returns the number of vowels in the word.

Try it out on three words.

In [23]:
def countvowels(string):
    vowels = "aeiouAEIOU"
    num_vowels=0
    for char in string:
        if char in vowels:
           num_vowels += 1
    return num_vowels
print countvowels('Apple')
print countvowels('Book')
print countvowels('Computer')

2
2
3

---

### 10. Write a function to calculate the area of a triangle uaing a height and width.

Test it out.

In [108]:
# A:
def area_of_triangle(height, width):
    area = height * width / 2
    return area

print area_of_triangle(5,10)

25

---
<a id='while_loops'></a>
# While Loops
---

>Check: what is the python syntax for a while loop?

### 11. While loops and strings.

Iterate over the following sentence repeatedly, counting the number of vowels in the sentence until you have tallied one million. Print out the number of iterations it took to reach that amount.

In [19]:
sentence = "A MAN KNOCKED ON MY DOOR AND ASKED FOR A SMALL DONATION TOWARDS THE LOCAL SWIMMING POOL SO I GAVE HIM A GLASS OF WATER"

In [28]:
# A:
vowels = "AEIOU"
list_sentence = sentence.split(' ')
list_sentence
v_count = 0
sent_count = 0
while v_count < 1000000:
    for letter in sentence:
        if letter in vowels:
            if v_count < 1000000:
                v_count += 1
    sent_count += 1
    
print v_count
print sent_count

1000000
27778

---
<a id='while_loops'></a>
# Try - Except
---

>Check: what is the python syntax for try except?  What does it do?

---

### 12. Try to convert elements in a list to floats.

Create a new list with the converted numbers. If something cannot be converted, skip it and append nothing to the new list.

In [116]:
corrupted = ['!1', '23.1', '23.4.5', '??12', '.12', '12-12', '-11.1', '0-1', '*12.1', '1000']

In [119]:
# A:
new_list = []
for x in corrupted:
    try:
        new_list.append(float(x))
    except ValueError:
        new_list.append(x)
print new_list

['!1', 23.1, '23.4.5', '??12', 0.12, '12-12', -11.1, '0-1', '*12.1', 1000.0]

---
<a id='coffee_preference'></a>

# Practice control flow on Coffee Preference dataset

### 13. Load coffee preference data from file and print

The code to load in the data is provided below. 

The `with open(..., 'r') as f:` opens up a file in "read" mode (rather than "write"), and assigns this opened file to `f`. 

We can then use the `.readlines()` built-in function to split the csv file on newlines and assign it to the variable `lines`.

In [3]:
with open('datasets/coffee-preferences.csv','r') as f:
    lines = f.readlines()

#### Iterate through lines and print them out

In [4]:
# A:
for i in lines:
    print i

Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe

3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,

3/17/2015 18:38:09,April,4,5,5,3,,,3,,5

3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1

3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3

3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,

3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3

3/17/2015 18:39:01,Dave H,4,5,,5,,,,,

3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2

3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4

3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1

3/17/2015 18:39:23,Alex,4,5,,3,,,,,

3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,

3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3

3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5

3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2

3/17/2015 18:40:49,Markus,3,5,,3,,,4,,

3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3

3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,

3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3

3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,

#### Print out just the lines object by typing `lines` in a cell and hitting enter.

In [5]:
# A:
lines

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe\n',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,\n',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5\n',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1\n',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3\n',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,\n',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3\n',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,\n',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2\n',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4\n',
 '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1\n',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,\n',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,\n',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3\n',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5\n',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2\n',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,\n',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3\n',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,\n',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3\n',
 '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

---

### 14. Remove the remaining newline `'\n'` characters with a for-loop.

Iterate through the lines of the data and remove the unwanted newline characters.

**.replace('\n', '')** is a built-in string function that will take the substring you want to replace as its first argument and the string you want to replace it with as its second.

In [6]:
# A:
cleaned_lines = []
for l in lines:
    cleaned_lines.append(l.replace('\n',''))
cleaned_lines

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4',
 '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3',
 '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

---

### 15. Split the lines into "header" and "data" variables.

The header is the first string in the list of strings. It contains the column names of our data.

In [7]:
# A:
header = cleaned_lines[0]
data = cleaned_lines[1:]
print header
print data

Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe
['3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,', '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5', '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1', '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3', '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,', '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3', '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,', '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2', '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4', '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1', '3/17/2015 18:39:23,Alex,4,5,,3,,,,,', '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,', '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3', '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5', '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2', '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,', '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3', '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,', '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3', '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

---

### 16. Split the header and the data strings on commas.

To split a string on the comma character, use the built in **`.split(',')`** function. 

Split the header on commas, then print it. You can see that the original string is now a list containing items that were originally separated by commas.

In [8]:
# A:
header = header.split(',')
print header

['Timestamp', 'Name', 'Starbucks', 'PhilzCoffee', 'BlueBottleCoffee', 'PeetsTea', 'CaffeTrieste', 'GrandCoffee', 'RitualCoffee', 'FourBarrel', 'WorkshopCafe']

In [9]:
split_data = []
for d in data:
    split_data.append(d.split(','))

print split_data[0]

['3/17/2015 18:37:58', 'Alison', '3', '5', '4', '3', '', '', '5', '5', '']

---

### 17. Remove the "Timestamp" column.

We aren't interested in the "Timestamp" column in our data, so remove it from the header and the data list.

Removing the Timestamp from the header can be done with list functions or with slicing. To remove the header column from the data, use a for-loop.

Print out the new data object with the timestamps removed.

In [11]:
# A:
header_cofee = header[2:]
header_cofee

['Starbucks',
 'PhilzCoffee',
 'BlueBottleCoffee',
 'PeetsTea',
 'CaffeTrieste',
 'GrandCoffee',
 'RitualCoffee',
 'FourBarrel',
 'WorkshopCafe']

In [14]:
data_nots = []
for row in split_data:
    data_nots.append(row[1:])
data_nots

[['Alison', '3', '5', '4', '3', '', '', '5', '5', ''],
 ['April', '4', '5', '5', '3', '', '', '3', '', '5'],
 ['Vijay', '3', '5', '5', '5', '3', '2', '1', '1', '1'],
 ['Vanessa', '1', '5', '5', '2', '', '', '3', '2', '3'],
 ['Isabel', '1', '4', '4', '2', '4', '', '4', '4', ''],
 ['India', '5', '3', '3', '3', '3', '1', '', '', '3'],
 ['Dave H', '4', '5', '', '5', '', '', '', '', ''],
 ['Deepthi', '3', '5', '', '2', '', '', '', '', '2'],
 ['Ramesh', '3', '4', '', '3', '', '', '', '', '4'],
 ['Hugh Jass', '1', '5', '5', '4', '5', '2', '5', '4', '1'],
 ['Alex', '4', '5', '', '3', '', '', '', '', ''],
 ['Ajay Anand', '3', '4', '4', '3', '5', '', '', '', ''],
 ['David Feng', '2', '3', '4', '2', '2', '', '5', '4', '3'],
 ['Zach', '3', '4', '4', '3', '', '', '', '', '5'],
 ['Matt', '3', '5', '4', '3', '2', '2', '4', '3', '2'],
 ['Markus', '3', '5', '', '3', '', '', '4', '', ''],
 ['Otto', '4', '2', '2', '5', '', '', '3', '3', '3'],
 ['Alessandro', '1', '5', '3', '2', '', '', '4', '3', ''],
 ['Rocky', '3', '5', '4', '3', '3', '3', '4', '4', '3'],
 ['cheong-tseng eng', '3', '1', '', '', '', '', '4', '', '']]

---

### 18. Convert numeric columns to floats and empty fields to `None`.

Iterate through the data, and construct a new data list of lists that contains the numeric ratings converted from strings into floats and the empty fields (which are empty strings '') replaced with the None object.

Use a nested for loop (a for loop within another for loop) to get the job done. You will likely need to use if-else conditional statements as well.

Print out the new data object to make sure you've succeeded.

In [15]:
# A:
data_num = []
for row in data_nots:
    new_row = []
    for i, col in enumerate(row):
        if i == 0:
            new_row.append(col)
        else:
            if col == '':
                new_row.append(None)
            else:
                new_row.append(float(col))
    data_num.append(new_row)

data_num

[['Alison', 3.0, 5.0, 4.0, 3.0, None, None, 5.0, 5.0, None],
 ['April', 4.0, 5.0, 5.0, 3.0, None, None, 3.0, None, 5.0],
 ['Vijay', 3.0, 5.0, 5.0, 5.0, 3.0, 2.0, 1.0, 1.0, 1.0],
 ['Vanessa', 1.0, 5.0, 5.0, 2.0, None, None, 3.0, 2.0, 3.0],
 ['Isabel', 1.0, 4.0, 4.0, 2.0, 4.0, None, 4.0, 4.0, None],
 ['India', 5.0, 3.0, 3.0, 3.0, 3.0, 1.0, None, None, 3.0],
 ['Dave H', 4.0, 5.0, None, 5.0, None, None, None, None, None],
 ['Deepthi', 3.0, 5.0, None, 2.0, None, None, None, None, 2.0],
 ['Ramesh', 3.0, 4.0, None, 3.0, None, None, None, None, 4.0],
 ['Hugh Jass', 1.0, 5.0, 5.0, 4.0, 5.0, 2.0, 5.0, 4.0, 1.0],
 ['Alex', 4.0, 5.0, None, 3.0, None, None, None, None, None],
 ['Ajay Anand', 3.0, 4.0, 4.0, 3.0, 5.0, None, None, None, None],
 ['David Feng', 2.0, 3.0, 4.0, 2.0, 2.0, None, 5.0, 4.0, 3.0],
 ['Zach', 3.0, 4.0, 4.0, 3.0, None, None, None, None, 5.0],
 ['Matt', 3.0, 5.0, 4.0, 3.0, 2.0, 2.0, 4.0, 3.0, 2.0],
 ['Markus', 3.0, 5.0, None, 3.0, None, None, 4.0, None, None],
 ['Otto', 4.0, 2.0, 2.0, 5.0, None, None, 3.0, 3.0, 3.0],
 ['Alessandro', 1.0, 5.0, 3.0, 2.0, None, None, 4.0, 3.0, None],
 ['Rocky', 3.0, 5.0, 4.0, 3.0, 3.0, 3.0, 4.0, 4.0, 3.0],
 ['cheong-tseng eng', 3.0, 1.0, None, None, None, None, 4.0, None, None]]

---

### 19. Count the `None` values per person, and put counts in a dictionary.

Use a for loop to count the number of `None` values per person. Create a dictionary with the names of the people as keys, and the counts of `None` as values.

Who rated the most coffee brands? Who rated the least?

In [18]:
none_count = []
for row in data_num:
    nones = 0
    for cell in row:
        if cell == None:
            nones += 1
    none_count.append(nones)
    
users = []
for row in data_num:
    users.append(row[0])
    
dict_users = dict(zip(users, none_count))
dict_users == user_nones

True

In [17]:
user_nones = {}
for row in data_num:
    nones = 0
    for cell in row:
        if cell == None:
            nones += 1
    user_nones[row[0]] = nones
#     print user_nones
user_nones

{'Ajay Anand': 4,
 'Alessandro': 3,
 'Alex': 6,
 'Alison': 3,
 'April': 3,
 'Dave H': 6,
 'David Feng': 1,
 'Deepthi': 5,
 'Hugh Jass': 0,
 'India': 2,
 'Isabel': 2,
 'Markus': 5,
 'Matt': 0,
 'Otto': 2,
 'Ramesh': 5,
 'Rocky': 0,
 'Vanessa': 2,
 'Vijay': 0,
 'Zach': 4,
 'cheong-tseng eng': 6}

---

### 20. Calculate average rating per coffee brand.

**Excluding `None` values**, calculate the average rating per brand of coffee.

The final output should be a dictionary with keys as the coffee brand names, and their average rating as the values.

Remember that average can be calculated as the sum of the ratings over the number of ratings:

```python
average_rating = float(sum(ratings_list))/len(ratings_list)
```

Print your dictionary to see the average brand ratings.

In [12]:
header_cofee

['Starbucks',
 'PhilzCoffee',
 'BlueBottleCoffee',
 'PeetsTea',
 'CaffeTrieste',
 'GrandCoffee',
 'RitualCoffee',
 'FourBarrel',
 'WorkshopCafe']

In [44]:
def average_rating(index):
    coffe_list = []
    for row in data_num:
        coffe_list.append(row[index])
        coffe_list = filter(None, coffe_list)
    coffe_average = float(sum(coffe_list))/len(coffe_list)
    print coffe_average

average_rating(5)

3.375

In [38]:
coffe_list = []
for row in data_num:
        coffe_list.append(row[1])
print coffe_list
coffe_average = float(sum(coffe_list))/len(coffe_list)
print coffe_average

[3.0, 4.0, 3.0, 1.0, 1.0, 5.0, 4.0, 3.0, 3.0, 1.0, 4.0, 3.0, 2.0, 3.0, 3.0, 3.0, 4.0, 1.0, 3.0, 3.0]
2.85